[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version      = "3.6"

[packages]
Flask               = ">=1.0"
requests            = ">=2.20"

[dev-packages]
pylint              = ">=2.3"
mock                = ">=3.0"
green               = ">=2.16"
responses           = ">=0.10"
coverage            = ">=4.5"

[pipenv]
allow_prereleases = true
