{% extends "base.html" %}
{% block title %}
Index
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<video id="video" width="640" height="480" controls autoplay></video>
<img id="img" width="640" height="480"></img>
<img id="img2" width="640" height="480"></img>
<button id="btn" onclick="toggleStream()">Switch</button>
<script>

  var socket = io();
  var myId = Math.floor(Math.random() * 10000);
  socket.on('connect', () => {
    console.log('Socket connected');
  });

  socket.on('blob', (blob, senderId) => {
    console.log(blob);
    var b = new Blob([blob], {type: 'application/octet-stream'});
    if (senderId !== myId) {
      img2.src = URL.createObjectURL(b);
    }
  });

  const video = document.getElementById('video');
  const img = document.getElementById('img');
  const btn = document.getElementById('btn');
  var mediaStream;
  var imageCapture;
  var showingVideo = false;
  var intervalTimer;

  const imageConstraints = {
    video: true
  };
  const videoConstraints = {
    video: true,
    audio: true
  };

  function toggleStream() {
    console.log('Switching');
    showingVideo = !showingVideo;
    if (showingVideo) {
      initStream(videoConstraints, showingVideo);
    } else {
      initStream(imageConstraints, showingVideo);
    }
  } 

  function getSS() {
    imageCapture.takePhoto().then(function(blob) {
        img.src = URL.createObjectURL(blob);
        socket.binary(true).emit('blob', blob, myId);
    })
    .catch((err) => {
      console.log('takePhoto(): ' + err);
    });
  };

  function initStream(constraints, showVideo) {
    navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      if (!showVideo) {
        video.srcObject = null;
        video.style.display = 'none';
        img.style.display = 'block';
        imageCapture = new ImageCapture(stream.getVideoTracks()[0]);
        intervalTimer = setInterval(getSS, 1000);
      } else {
        img.style.display = 'none';
        video.style.display = 'block';
        clearInterval(intervalTimer);
        video.srcObject = stream;
      }
    })
    .catch((err) => {
      console.log('GetUserMedia: ' + err);
    });
  }

  initStream(imageConstraints, showingVideo);

</script>
{% endblock %}